* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

input:focus {
  outline: none;
}

.raw-color {
  color: #FCF7F6;
}

header {
  background-color: #D3574A;
}

.main-logo {
  width: 4rem;
  height: 4rem;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.main-logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

nav ul {
  width: 75%;
}

nav ul img {
  width: 1.3rem;
  height: 1.3rem;
}

.main-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 38, 38, 0.89)), to(rgba(38, 38, 38, 0.89))), url("/assets/university.jpg");
  background-image: linear-gradient(rgba(38, 38, 38, 0.89), rgba(38, 38, 38, 0.89)), url("/assets/university.jpg");
  background-repeat: repeat-x;
  padding: 4rem 0;
}

.main-header-content {
  width: 90%;
}

.main-header-content h2 {
  color: #FCF7F6;
  font-size: 1.5rem;
}

.header-form {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
}

.form-btn {
  background-color: #D3574A;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
}

.form-ti {
  padding: 0.5rem 0;
  width: 100%;
}

.main-header-btn {
  background-color: rgba(255, 255, 255, 0.9);
}

.how-to-use .row {
  width: 95%;
}

.how-to-use img {
  width: 3rem;
  height: 3rem;
}

.how-to-use h4 {
  color: #D3574A;
  margin: 3rem 0;
  font-size: 1.2rem;
}

.how-to-use .container {
  width: 85%;
}

.how-to-use p {
  width: 100%;
  font-size: 1rem;
  line-height: 1.25rem;
}

.sd-1,
.sd-2,
.sd-3 {
  height: 13rem;
}

.sd-1 {
  background-color: #D3574A;
}

.sd-2 {
  background-color: #98A4A5;
}

.sd-3 {
  background-color: #509CD8;
}

.sd-1 div,
.sd-2 div,
.sd-3 div {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.sd-1 img,
.sd-2 img,
.sd-3 img {
  display: none;
}

.sd-btn-1,
.sd-btn-2 {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.sd-btn-1:hover,
.sd-btn-2:hover,
.main-header-btn:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.sd-btn-1 {
  color: #D3574A;
}

.sd-btn-2 {
  color: #98A4A5;
}

footer {
  background-color: black;
}

footer .footer-fr {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

footer .footer-fr ul {
  width: 30%;
  height: 100%;
  font-size: 0.7rem;
  margin-bottom: 0;
}

footer .footer-fr ul li {
  height: 100%;
}

footer .footer-fr ul a {
  display: block;
  height: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

footer .footer-sr p {
  font-size: 0.7rem;
}

footer .footer-sr h5 {
  font-size: 1rem;
}

.footer-input,
.footer-btn {
  background-color: black;
  border: 1px solid rgba(51, 51, 51, 0.5);
  color: #FCF7F6;
}

.footer-btn {
  background-color: #0d0d0d;
  color: #98A4A5;
}

.footer-input-container {
  height: 2.5rem;
  width: 90%;
}

.footer-span {
  color: #D3574A;
}

.footer-span a {
  color: #D3574A;
}

.footer-tr {
  background-color: #0d0d0d;
}

.footer-tr ul {
  margin: 0;
}

.footer-tr ul li {
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.footer-tr ul li:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.footer-tr p {
  font-size: 0.6rem;
}

.footer-tr a {
  height: 100%;
}

.footer-tr .footer-legality {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon {
  width: 1rem;
}

@media screen and (min-width: 768px) {
  nav ul {
    width: 60%;
  }
  .main-header-content {
    width: 65%;
  }
  .header-form {
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    margin-bottom: 3.5rem;
  }
  .form-btn {
    margin-top: 0;
    padding: 0.8rem;
    width: 20%;
    font-size: 0.85rem;
  }
  .form-ti {
    padding: 0;
    width: 80%;
  }
  .main-header {
    padding: 6rem 0;
  }
  .main-header-content h2 {
    font-size: 3rem;
    margin-bottom: 3.5rem;
  }
  .how-to-use .row {
    width: 75%;
  }
  .how-to-use h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .how-to-use img {
    margin-top: 4rem;
  }
  .sd-1 img {
    height: 65%;
  }
  .sd-2 img {
    height: 100%;
  }
  .sd-3 img {
    height: 85%;
  }
  .sd-1 div,
  .sd-2 div,
  .sd-3 div {
    width: 85%;
    margin: 0 4rem;
    text-align: left;
  }
  footer .footer-fr {
    width: 65%;
    border: none;
  }
  footer .footer-fr ul {
    width: 40%;
    border-top: 1px solid rgba(51, 51, 51, 0.5);
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  }
  footer .footer-sr {
    width: 90%;
  }
  footer .footer-sr p {
    line-height: 1rem;
    font-size: 0.8rem;
  }
  footer .footer-sr h5 {
    font-size: 1.1rem;
  }
  footer .footer-btn {
    font-size: 0.8rem;
  }
  footer .footer-tr p {
    font-size: 0.7rem;
    margin-left: 1rem;
    margin-top: 0;
  }
  footer .footer-legality {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  .logo-container::after {
    content: "UniFinder";
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  .nav-link-1::after {
    content: "school";
  }
  .nav-link-2::after {
    content: "about";
  }
  .nav-link-3::after {
    content: "blog";
  }
  .nav-link-4::after {
    content: "more";
  }
  .form-btn {
    width: 12%;
    padding: 0.8rem 0.5rem;
  }
  .form-ti {
    width: 88%;
  }
  .how-to-use p {
    width: 75%;
    font-size: 1rem;
  }
  .sd-1,
  .sd-2,
  .sd-3 {
    height: 16rem;
  }
  .sd-1 div,
  .sd-2 div,
  .sd-3 div {
    margin: 0 4rem 0 8rem;
  }
  footer ul a {
    font-size: 1rem;
  }
  footer .footer-btn {
    font-size: 1rem;
  }
  footer .footer-sr p {
    font-size: 1rem;
  }
  footer .footer-tr p {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */