$red-color: #D3574A;
$raw-color: #FCF7F6;
$form-color: rgba(255, 255, 255, 0.9);
$lato-font-family: 'Lato', sans-serif;
$grey-color: #98A4A5;
$blue-color: #509CD8;
$line-color: rgba(51, 51, 51, 0.5);
$dark-grey: #0d0d0d;
$results-color: #EEEEEE;
$btn-blue: #457DB4;
$btn-yellow: #E5AB5B;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $lato-font-family;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

input:focus {
  outline: none;
}

.raw-color {
  color: $raw-color;
}

header {
  background-color: $red-color;
}

.main-logo {
  width: 4rem;
  height: 4rem;
  transition: transform 0.2s;
}

.main-logo:hover {
  transform: rotate(360deg);
}

nav {
  ul {
    width: 75%;

    img {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

.main-header {
  background-image: linear-gradient(rgba(38, 38, 38, 0.89), rgba(38, 38, 38, 0.89)), url("/assets/university.jpg");
  background-repeat: repeat-x;
  padding: 4rem 0;
}

.main-header-content {
  width: 90%;
}

.main-header-content h2 {
  color: $raw-color;
  font-size: 1.5rem;
}

.header-form {
  padding: 1rem;
  background-color: $form-color;
  border-radius: 2px;
}

.form-btn {
  background-color: $red-color;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;

  a:hover {
      text-decoration: none;
      color: $grey-color;
  }
}

.form-ti {
  padding: 0.5rem 0;
  width: 100%;
}

.main-header-btn {
  background-color: $form-color;
}

.how-to-use {
  .row {
    width: 95%;
  }

  img {
    width: 3rem;
    height: 3rem;
  }

  h4 {
    color: $red-color;
    margin: 3rem 0;
    font-size: 1.2rem;
  }

  .container {
    width: 85%;
  }

  p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.25rem;
    }
}

.sd-1,
.sd-2,
.sd-3 {
  height: 13rem;

  div {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }

  img {
    display: none;
}
}

.sd-1 {
  background-color: $red-color;
}

.sd-2 {
  background-color: $grey-color;
}

.sd-3 {
  background-color: $blue-color;
}

.sd-btn-1,
.sd-btn-2 {
  background-color: $form-color;
  transition: transform 0.3s;
}

.sd-btn-1 {
  color: $red-color;
}

.sd-btn-2 {
  color: $grey-color;
}

.sd-btn-1:hover,
.sd-btn-2:hover,
.main-header-btn:hover, {
  transform: scale(1.2, 1.2);
}

footer {
  background-color: black;

  .footer-fr {
    width: 90%;
    align-items: center;
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;

    ul {
      width: 30%;
      height: 100%;
      font-size: 0.7rem;
      margin-bottom: 0;

      li {
        height: 100%;
      }

      a {
        display: block;
        height: 100%;
        padding: 0.5rem 0;
        text-align: center;
      }
     }
    }

  .footer-sr {
    p {
      font-size: 0.7rem;
    }

    h5 {
      font-size: 1rem;
    }
  }
}

.footer-input,
.footer-btn {
  background-color: black;
  border: 1px solid $line-color;
  color: $raw-color;
}

.footer-btn {
  background-color: $dark-grey;
  color: $grey-color;
}

.footer-input-container {
  height: 2.5rem;
  width: 90%;
}

.footer-span {
  color: $red-color;

   a {
    color: $red-color;
  }
}

.footer-tr {
  background-color: $dark-grey;

  ul {
    margin: 0;
     li {
         transition: transform 0.1s;
       }
       li:hover {
           transform: scale(1.3, 1.3);
       }
    }
    p {
        font-size: 0.6rem;
       
    }

    a {
        height: 100%;
    }
}

.footer-icon {
  width: 1rem;
}

.results-filter {
  background-color: $results-color;
  padding: 3rem 2rem;
}

.results-form {
  width: 85%;
  flex-wrap: wrap;

  div {
    margin-bottom: 2rem;
    margin-right: 0.5rem;
  }

  div:not(:last-child) {
   
    select {
      width: 6rem;
      outline: none;
      border: 1px solid $red-color;
      background-color: $raw-color;
    }

    input {
      width: 14rem;
      outline: none;
      border: 1px solid $red-color;
      background-color: $raw-color;
    }
  }
}

.btn-icon {
  width: 0.7rem;
}

.r-btn-1,
.r-btn-2 {
  color: $raw-color;
}

.r-btn-1 {
  background-color: $btn-blue;
}

.r-btn-2 {
  background-color: $btn-yellow;
}

.uni-results {

    h3 {
        color: $red-color;
    }
}

.uni-grid {
    display: grid;
    grid-template-columns: 1fr;

    div {
        height: 17rem;
        width: 90%;
        flex-direction: column;
        margin: 1rem auto;

        a:hover {
            text-decoration: none;
        }
    }

    h6 {
        color: $raw-color;
        font-size: 2rem;
        background-color: rgba(211, 87, 74, 0.5);
    }

    p {
        color: $red-color;
        background-color: $raw-color;
        width: 35%;
    }
}

.uni-1:hover {
    background-image: linear-gradient(rgba(38, 38, 38, 0.4), rgba(38, 38, 38, 0.4)), url("/assets/uni-1.jpg");
}

.uni-2:hover {
    background-image: linear-gradient(rgba(38, 38, 38, 0.4), rgba(38, 38, 38, 0.4)), url("/assets/uni-2.jpg");
}

.uni-3:hover {
    background-image: linear-gradient(rgba(38, 38, 38, 0.4), rgba(38, 38, 38, 0.4)), url("/assets/uni-3.jpg");
}

.uni-4:hover {
    background-image: linear-gradient(rgba(38, 38, 38, 0.4), rgba(38, 38, 38, 0.4)), url("/assets/uni-4.jpg");
}

.uni-5:hover {
    background-image: linear-gradient(rgba(38, 38, 38, 0.4), rgba(38, 38, 38, 0.4)), url("/assets/uni-5.jpeg");
}

.uni-6:hover {
    background-image: linear-gradient(rgba(38, 38, 38, 0.4), rgba(38, 38, 38, 0.4)), url("/assets/uni-6.jpg");
}

.uni-1 {
    background-image: linear-gradient(rgba(38, 38, 38, 0.6), rgba(38, 38, 38, 0.6)), url("/assets/uni-1.jpg");
}

.uni-2 {
    background-image: linear-gradient(rgba(38, 38, 38, 0.6), rgba(38, 38, 38, 0.6)), url("/assets/uni-2.jpg");
}

.uni-3 {
    background-image: linear-gradient(rgba(38, 38, 38, 0.6), rgba(38, 38, 38, 0.6)), url("/assets/uni-3.jpg");
}

.uni-4 {
    background-image: linear-gradient(rgba(38, 38, 38, 0.6), rgba(38, 38, 38, 0.6)), url("/assets/uni-4.jpg");
}

.uni-5 {
    background-image: linear-gradient(rgba(38, 38, 38, 0.6), rgba(38, 38, 38, 0.6)), url("/assets/uni-5.jpeg");
}

.uni-6 {
    background-image: linear-gradient(rgba(38, 38, 38, 0.6), rgba(38, 38, 38, 0.6)), url("/assets/uni-6.jpg");
}

.uni-1,
.uni-2,
.uni-3,
.uni-4,
.uni-5,
.uni-6 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.uni-shield {
    width: 3.8rem;
}

.uni-stars {
    width: 1rem;
}

.uni-info {
    box-shadow: 0 0 10px $grey-color;
    width: 90%;
    h3 {
        color: $red-color
    }

    p {
        font-size: 1.1rem;
        padding: 2rem 0;
        margin-bottom: 0;
        box-shadow: 0 0 2px $grey-color;

        span {
            font-size: 1rem;
            color: $blue-color;
            margin-left: 1rem;
        }
    }
}

.apply-btn {
    color: $raw-color;
    background-color: $btn-blue;
    margin: 3rem auto;
    img {
        width: 1rem;
    }
}

.uni-info-footer {
    a {
        font-size: 0.9rem;
    }
    img {
        width: 1rem;
    }
}

.know-more {
    h3 {
        color: $red-color;
    }

    p {
        font-size: 1.4rem;
    }
}

iframe {
    height: 315px;
    width: 90%;
}

@media screen and (min-width: 768px) {
  nav {
    ul {
      width: 60%;
    }
  }

  .main-header-content {
    width: 65%;
  }

  .header-form {
    padding: 3rem 4rem;
    border-radius: 0.5rem;
    margin-bottom: 3.5rem;
  }

  .form-btn {
    margin-top: 0;
    padding: 0.8rem;
    width: 20%;
    font-size: 0.85rem;
    }
    
  .form-ti {
    padding: 0;
    width: 80%;
    }

  .main-header {
    padding: 6rem 0;
    }
    
    .main-header-content h2 {
        font-size: 3rem;
        margin-bottom: 3.5rem;
      }
    
      .how-to-use {
        .row {
          width: 75%;
        }
    
        h4 {
          font-size: 1.5rem;
          margin-bottom: 0;
        }
    
        img {
          margin-top: 4rem;
        }
      }
    
      .sd-1 {
        img {
          height: 65%;
        }
      }
    
      .sd-2 {
        img {
          height: 100%;
        }
      }
    
      .sd-3 {
        img {
          height: 85%;
        }
      }
    
      .sd-1,
      .sd-2,
      .sd-3 {
        div {
          width: 85%;
          margin: 0 4rem;
          text-align: left;
        }
       }
    
        .footer-fr {
          width: 65%;
          border: none;
    
          ul {
            width: 40%;
            border-top: 1px solid $line-color;
            border-bottom: 1px solid $line-color;
          }
        }
    
        .footer-sr {
          width: 90%;
    
          p {
            line-height: 1rem;
            font-size: 0.8rem;
          }
    
          h5 {
            font-size: 1.1rem;
          }
        }
    
        .footer-btn {
          font-size: 0.8rem;
        }
    
        .footer-tr {
          p {
            font-size: 0.7rem;
            margin-left: 1rem;
            margin-top: 0;
          }
        }
    
        .results-form {
          width: 90%;
    
          div {
              margin-left: 1rem;
          }
        }

        .uni-grid {
            width: 80%;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;

        }

        .uni-info-footer {
            ul {
                width: 90%;
            }
        }

        iframe {
            width: 60%;
        }
    }  

 @media screen and (min-width: 1024px) {

  .logo-container::after {
    content: "UniFinder";
    font-size: 2.5rem;
    margin-left: 1rem;
    }
  
      .nav-link-1::after {
        content: "school";
      }
  
      .nav-link-2::after {
        content: "about";
      }
  
      .nav-link-3::after {
        content: "blog";
      }
  
      .nav-link-4::after {
        content: "more";
      }
  
      .form-btn {
        width: 12%;
        padding: 0.8rem 0.5rem;
      }
  
      .form-ti {
        width: 88%;
      }
  
      .how-to-use {
        p {
          width: 75%;
          font-size: 1rem;
        }
      }
  
      .sd-1,
      .sd-2,
      .sd-3 {
        height: 16rem;
  
        div {
          margin: 0 4rem 0 8rem;
        }
      }
  
      footer {
  
         ul {
  
           a {
            font-size: 1rem;
                 }
          }
  
        .footer-btn {
          font-size: 1rem;
         }
  
        .footer-sr {

          p {
             font-size: 1rem;
            }
        }
  
        .footer-tr {
            p {
                  font-size: 0.8rem;
              }
        }
      }

      .results-form {
          width: 85%;
      }

      .uni-grid {
          width: 95%;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 0.5rem;
          grid-row-gap: 0.5rem;
      }

      .uni-info {
          p {
              font-size: 1.3rem;

              span {
                  font-size: 1.2rem;
              }
          }
      }

      iframe {
          height: 400px;
      }
  }

@media screen and (min-width: 1300px) {
    .results-form {
        width: 67%;
    }

    .results-filter {
        padding: 5rem 2rem;
    }

    .uni-grid {
        width: 85%;
        div {
            height: 18rem;
        }
    }
    iframe {
        width: 40%;
        height: 400px;
    }

}