$red-color: #D3574A;
$raw-color: #FCF7F6;
$form-color: rgba(255, 255, 255, 0.9);
$lato-font-family: 'Lato', sans-serif;
$grey-color: #98A4A5;
$blue-color: #509CD8;
$line-color: rgba(51, 51, 51, 0.5);
$dark-grey: #262626;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $lato-font-family;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.raw-color {
    color: $raw-color;
}

header {
    background-color: $red-color;
}

.main-logo {
    width: 4rem;
    height: 4rem;
}

nav {
    ul {
     width: 75%;
        img {
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}

.main-header {
  background-image: linear-gradient(rgba(38, 38, 38, 0.85), rgba(38, 38, 38, 0.85)), url("/assets/university.jpg");
  background-repeat: repeat-x;
  padding: 4rem 0;
}


.main-header-content {
  width: 90%;
}

.main-header-content h2 {
  color: $raw-color;
  font-size: 1.5rem;
  
}

.header-form {
  padding: 1rem;
  background-color: $form-color;
  border-radius: 2px;
  
}

.form-btn {
  background-color: $red-color;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;

}

.form-ti {
  padding: 0.5rem 0;
  width: 100%;

}

.main-header-btn {
   background-color: $form-color;
}

.how-to-use {
    .row {
        width: 95%;

    }
    img {
        width: 3rem;
        height: 3rem;
    }

    h4 {
        color: $red-color;
        margin: 3rem 0;
        font-size: 1.2rem;
    }

    .container {
        width: 85%;
    }

    p {
        width: 100%;
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.sd-1,
    .sd-2,
    .sd-3 {
        height: 13rem;
    }

.sd-1 {
    background-color: $red-color;
}

.sd-2 {
    background-color: $grey-color;
}

.sd-3 {
    background-color: $blue-color;
}

.sd-1,
.sd-2,
.sd-3 {
    div {
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
}

.sd-1,
.sd-2,
.sd-3 {
    img {
        display: none;
    }
}

.sd-btn-1,
.sd-btn-2 {
    background-color: $form-color;
}

.sd-btn-1 {
    color: $red-color;
}

.sd-btn-2 {
    color: $grey-color;
}

footer {
    background-color: black;
    .footer-fr {
        width: 90%;
        align-items: center;
        border-top: 1px solid $line-color;
        border-bottom: 1px solid $line-color;
        ul {
            width: 30%;
            height: 100%;
            font-size: 0.7rem;
            margin-bottom: 0;
            li {
                height: 100%;
            }
            a {
                display: block;
                height: 100%;
                padding: 0.5rem 0;
                text-align: center;
               
            }
        }
    }
}


.footer-input,
.footer-btn {
    background-color: black;
    border: 1px solid $line-color;
    color: $raw-color;
}

.footer-btn {
    background-color: $dark-grey;
    color: $grey-color;
}

.footer-input-container {
    height: 2.5rem;
    width: 90%;
}

.footer-span {
    color: $red-color;
}

@media screen and (min-width: 768px) {
    nav {
        ul {
            width: 60%;
        }
    }

    .main-header-content {
        width: 65%;
    }

    .header-form {
        padding: 3rem 4rem;
        border-radius: 0.5rem;
    }

    .form-btn {
        margin-top: 0;
        padding: 0.8rem;
        width: 20%;
        font-size:0.85rem;
    }

    .form-ti {
        padding: 0;
        width: 80%;
      
    }

    .main-header {
        padding: 8rem 0;
    }

    .main-header-content h2 {
        font-size: 3rem;
    }

    .how-to-use {
        .row {
            width: 75%;
        }
        h4 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        img {
            margin-top: 4rem;
        }
    }

    .sd-1 {
        img {
            height: 65%;
        }
    }

    .sd-2 {
        img {
           height: 100%;
        }
    }

    .sd-3 {
        img {
            height: 85%;
            
        }
    }

    .sd-1,
    .sd-2,
    .sd-3 {
        div {
           width: 85%;
           margin: 0 4rem;
           text-align: left;
        }
     }

     footer {
        .footer-fr {
            width: 65%;
            border: none;
            ul {
                width: 40%;
                border-top: 1px solid $line-color;
                border-bottom: 1px solid $line-color;
            }
        }

        .footer-sr {

            width: 90%;
        }

        .footer-btn {
            font-size: 0.8rem;
        }
    
}

@media screen and (min-width: 1024px) {
    .logo-container::after {
        content: "UniFinder";
        font-size: 2.5rem;
        margin-left: 1rem;
    }
    
   .nav-link-1::after {
       content: "school";

   }

   .nav-link-2::after {
       content: "about";

   }

   .nav-link-3::after {
       content: "blog";

   }

   .nav-link-4::after {
       content: "more";
   }

   .form-btn {
       width: 12%;
       padding: 0.8rem 0.5rem;
   }
   .form-ti {
       width: 88% ;
   }

   .how-to-use {
       p {
           width: 75%;
           font-size: 1rem;
       }
    }

    .sd-1,
    .sd-2,
    .sd-3 {
        height: 16rem;
    }

    .sd-1,
    .sd-2,
    .sd-3 {
          div {
             margin: 0 4rem 0 8rem;
        }
    }

    footer {
            ul{
               a {
                   font-size: 1rem;
               }
            }
        .footer-btn {
            font-size: 1rem;
        }
    }
 }
}



